
{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
  {{#if featured}}
    <article class="{{post_class}} post-featured">
      <h2 class="post-featured-sub-title">Featured post by {{author}}</h2>
      <h1 class="post-featured-title"><a class="post-title" href="{{url}}">{{{title}}}</a></h1>
      <div class="post-teaser">
        <p>{{excerpt words="45"}}...</p>
      </div>
      <div class="button-wrap"><a class="button" href="{{url}}">Read now</a>
    </article>
  {{/if}}
{{/foreach}}
