<!DOCTYPE html>
<!-- Theme by Gilli at axe. http://axe.is-->
<html data-wf-site="54cb59afca3b7c9a3d9e4877" data-wf-page="54cb59afca3b7c9a3d9e4878">
  <head>
    {{! Document Settings }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png">

    {{! Styles }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/webflow.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/mori.webflow.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/extras.css"}}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    {{! Scripts }}
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ["PT Serif:400,400italic,700,700italic","PT Sans:400,400italic,700,700italic","Great Vibes:400"]
        }
      });
    </script>
    <script type="text/javascript" src="{{asset "js/modernizr.js"}}"></script>

    {{! Ghost styles and scripts}}
    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    <header class="main-header">
      <div class="nav-wrapper">
        <nav class="w-clearfix nav">

        {{! Check for pages and make menu links }}
        {{#foreach featured}}
          {{#if page }}
          <a class="post-title brand" href="{{url}}">{{{title}}}</a>
          {{/if}}
        {{/foreach}}
          <!--<div class="nav-link">My work</div>
          <div class="nav-link nav-link-right">My story</div>-->
          <a href="/" title="Home" class="logo">{{#if @blog.logo}}<img src="{{@blog.logo}}" alt="Blog Logo" />{{else}}{{@blog.title}}{{/if}}</a>
        </nav>
      </div>
    </header>

    {{{body}}}

    <footer class="main-footer" id="main-footer">
      {{ghost_foot}}
      <h3 class="footer-note">{{@blog.title}} - {{@blog.description}}</h3>
      <div class="theme-meta">Proudly powered by <a class="footer-link" href="http://ghost.org">ghost</a> and themed by <a class="footer-link" href="http://axe.is">axe</a></div>
    </footer>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{asset "js/webflow.js"}}"></script>
    <script>
      jQuery(document).ready( function() {
        console.log("ready");
        $('.post-content p > img').unwrap();
      })
    </script>
    <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
